<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>May The 4th Be With You</title>
        <link rel="icon" href="{{ asset('favicon.ico') }}" />
        <style type="text/css">
            body{
                background-color: black;
            }
            img[alt="May the fourth be with you"]{
                display: block;
                margin: 50px auto 0 auto;
            }
        </style>
    </head>
    <body>
        <img alt="May the fourth be with you" src="{{ asset('img/may_the_4th_be_with_you_star_wars_day1.gif') }}">
    </body>
</html>